In [2]:
ls = [1,2,3,"dfd"]
ls.append(11.5)

In [ ]:
ls

In [4]:
ls.insert(1, "dfd")

In [ ]:
ls

In [ ]:
nl = [1, 5, "sony", "toy", ["apple", "kiwi", 2], " magic", 8, 15]
nl[4][1]

In [7]:
tp = (1,2,2)

In [8]:
st = {1,2}
d = set({1,4})
d = int(1)
dict = {}

In [9]:
dict["sfd"] = 1

In [10]:
import pandas as pd

In [11]:
raw_data = {
    "name" : ["Shoyeb ", "Mitesh"],
    "Age" : [19, 18]
}

In [12]:
df = pd.DataFrame(raw_data)

In [13]:
raw_data_2 = [
    ["X", 13],
    ["Y" , 14 ]
]

In [14]:
df_1 = pd.DataFrame(columns=["Name", "age"], data = raw_data_2)

In [15]:
df_1["City"] = ["Bang", "Bhuj"]

In [16]:
df = pd.read_csv("./Dataset/students.csv")

In [ ]:
df = pd.read_excel("E:\Code\DataScience\Dataset\Global Superstore Orders 2016.xlsx")

In [18]:
df["Order ID"] = df["Order ID"].astype("object")

In [ ]:
df.columns
print(df.info())

In [ ]:
summary = df.drop(columns=["Row ID", "Order Date", "Order ID", "Ship Date"]).describe().T
summary

In [21]:
summary["cov"] = round(summary["std"] / summary["mean"], 2)

In [ ]:
summary

In [ ]:
df["Profit"].plot(kind="hist")

In [24]:

categorical, numerical = [], []

In [25]:
for col in df.columns:
    if df[col].dtype == "int64" or df[col].dtype == "float64":
        numerical.append(col)
    else:
        categorical.append(col)

In [ ]:
numerical

In [ ]:
categorical

In [ ]:
df[categorical].head()

In [29]:
consumer, home_office, corporate = df[df["Segment"] == "Consumer"], df[df["Segment"] == "Home Office"], df[df["Segment"] == "Corporate"]

In [30]:
above_avg_sales = df[df["Sales"] > 250]
profitable_sales = df[df["Profit"] > 0]
non_profitable_sales = df[df["Profit"] <= 0]

In [ ]:
profitable_sales.shape

In [32]:
star_transaction = df[(df["Sales"] > 250) & (df["Profit"] > 0)]
problematic_transaction = df[(df["Sales"] <= 250) | (df["Profit"] <= 0)]

In [ ]:
problematic_transaction[["Sales" ,"Profit"]]

In [ ]:
print(f"The number of unique segment are {df["Segment"].nunique()} and they are {df["Segment"].unique()}")

In [ ]:
df["Segment"].value_counts(True)

$t_n = \alpha \cdot t_{n - 1}$

In [ ]:
df["Market"].value_counts(normalize = True) * 100

In [ ]:
exclude = numerical + ["Row ID", "Order ID", "Order Date", "Ship Date", "Postal Code","Customer ID", "Product ID", "Customer Name"]
exclude

In [38]:
pd.reset_option("display.max_rows")

In [ ]:

for col in df.columns:
    if col in exclude:
        continue
    print(df[col].value_counts(True) * 100)
    print()

In [57]:
# Home work - not good 
gd = df.groupby(by=["Category", "Sub-Category"])[["Sales", "Profit"]]

In [ ]:
round (df.groupby(["Category", "Sub-Category"])[["Sales", "Profit"]].agg({
    "Sales" : "sum",
    "Profit" : "mean"
}), 2).sort_values(by=["Sales"], ascending=False)

In [ ]:
gd.agg({
    "Profit" : "mean",
    "Sales": "sum"
})

In [76]:
# Pivot Table

round (df.pivot_table (
    values = ["Sales", "Profit", "Quantity"], 
    index = ["Category"],
    columns = "Segment",
    aggfunc = {
        "Profit" :"mean", 
        "Sales": "sum", 
        "Quantity" : "count"
    }
), 2)

                  Profit                       Quantity                        \
Segment         Consumer Corporate Home Office Consumer Corporate Home Office
Category
Furniture          30.20     27.83       27.05     5087      3009        1764
Office Supplies    15.67     17.89       16.98    16159      9369        5761
Technology         64.96     62.24       72.30     5272      3051        1818

                      Sales
Segment            Consumer   Corporate Home Office
Category
Furniture        2128121.43  1264426.53   717903.94
Office Supplies  1952787.98  1142479.63   692224.90
Technology       2427040.01  1417791.36   899726.13

[1, 24]