In [2]:
import pandas as pd

In [8]:
# Aggregation
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
})

In [17]:
SumA = df["A"].sum()
MeanA = df["A"].mean()
print(f"Sum : {SumA}\nMean:{MeanA} ")

Sum : 15
Mean:3.0

In [20]:
# Groupby
data = {
    'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A'],
    'Sales': [100, 200, 150, 300, 250, 50, 400, 100]
}

df = pd.DataFrame(data)

In [22]:
group1 = df.groupby("Category")["Sales"].mean()
group1

Category
A    100.0
B    225.0
C    350.0
Name: Sales, dtype: float64

In [25]:
group1 = df.groupby("Category")
f = group1.groups

{'A': [0, 2, 5, 7], 'B': [1, 4], 'C': [3, 6]}

In [35]:
group1["Sales"].sum()

Category
A    400
B    450
C    700
Name: Sales, dtype: int64