In [11]:
!pip install -U scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\shoyeb ansari\appdata\roaming\python\python311\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\tools\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.6.0 in c:\tools\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.2.0 in c:\tools\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\tools\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [29]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
import sklearn as sk

In [17]:
# creating dataframe
df = pd.DataFrame ( {
    'A' : [1, 2, np.nan, 4, 5],
    'B' : [np.nan, 2, 3, 4, 5],
    'C' : [1, 2, 3, np.nan, np.nan]
})

In [19]:
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  NaN
4  5.0  5.0  NaN

In [21]:
# Now we have to fill the NaN values with mean of the remaining data
# First creating instance of imputer with filling(strategy) value as mean
impute = SimpleImputer(missing_values = np.nan, strategy = "mean")

In [30]:
# Now creating new data frame to with added missing values
df_imputed = pd.DataFrame(sk.imputer.fit_transform(df), columns = df.columns)
print(df_imputed)

AttributeError: module 'sklearn' has no attribute 'imputer'