In [1]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("./../../Dataset/spam.csv", encoding=result["encoding"])

In [19]:
import chardet
with open("./../../Dataset/spam.csv", "rb") as f:
    result = chardet.detect(f.read(10000))  # Read first 10,000 bytes
    print(result["encoding"])

Windows-1252

In [22]:
# Drop unnammed rows 
drop_col = ["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"]
df.drop(columns = drop_col, axis = 1, inplace = True)

In [33]:
# Dropping the duplicates row
df.drop_duplicates(inplace = True)

In [32]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [35]:
df.rename(columns = {"v1": "spam", "v2": "message"}, inplace = True)

In [39]:
df["spam"].value_counts()

spam
ham     4516
spam     653
Name: count, dtype: int64

In [40]:
# Encoding 
df["spam"] = df["spam"].map({'spam': 1, 'ham': 0})
df.head()

   spam                                            message
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

## Vectorizing the text messages

In [43]:
import nltk