In [3]:
import pandas as pd

In [4]:
# Aggregation
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
})

In [5]:
SumA = df["A"].sum()
MeanA = df["A"].mean()
print(f"Sum : {SumA}\nMean:{MeanA} ")

Sum : 15
Mean:3.0

In [6]:
# Groupby
data = {
    'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A'],
    'Sales': [100, 200, 150, 300, 250, 50, 400, 100]
}

df = pd.DataFrame(data)

In [7]:
group1 = df.groupby("Category")["Sales"].mean()
group1

Category
A    100.0
B    225.0
C    350.0
Name: Sales, dtype: float64

In [8]:
group1 = df.groupby("Category")

In [9]:
group1["Sales"].sum()

Category
A    400
B    450
C    700
Name: Sales, dtype: int64

In [14]:
list(group1)

[('A',
    Category  Sales
  0        A    100
  2        A    150
  5        A     50
  7        A    100),
 ('B',
    Category  Sales
  1        B    200
  4        B    250),
 ('C',
    Category  Sales
  3        C    300
  6        C    400)]


Multiple Aggregations on Single Column

In [20]:
grouped = df.groupby("Category")["Sales"].agg(["mean", "sum", "median"])
print(grouped)

           mean  sum  median
Category
A         100.0  400   100.0
B         225.0  450   225.0
C         350.0  700   350.0

In [25]:
# Grouping buy multiple columns

df["Year"] = [2020, 2019, 2021, 2020, 2021, 2021, 2019, 2021] 

grp = df.groupby(["Year", "Category"])["Sales"].sum()
print(grp)

grp1 = df.groupby(["Category", "Year"])["Sales"].sum()
print(grp1)

Year  Category
2019  B           200
      C           400
2020  A           100
      C           300
2021  A           300
      B           250
Name: Sales, dtype: int64
Category  Year
A         2020    100
          2021    300
B         2019    200
          2021    250
C         2019    400
          2020    300
Name: Sales, dtype: int64