In [1]:
import pandas as pd

books_df = pd.DataFrame({
    'Title': ['To Kill a Mockingbird', '1984', 'The Great Gatsby'],
    'Author': ['Harper Lee', 'George Orwell', 'F. Scott Fitzgerald']
})

new_book_1 = {'Title': 'The Catcher in the Rye', 'Author': 'J.D. Salinger'}
new_book_2 = {'Title': 'The Hobbit', 'Author': 'J.R.R. Tolkien'}

In [11]:
h = books_df.add(new_book_1)

In [12]:
h

,Title,Author
0,To Kill a MockingbirdThe Catcher in the Rye,Harper LeeJ.D. Salinger
1,1984The Catcher in the Rye,George OrwellJ.D. Salinger
2,The Great GatsbyThe Catcher in the Rye,F. Scott FitzgeraldJ.D. Salinger