In [24]:
import pandas as pd

In [25]:
data = {
    'Date': ['2020-01-01', '2020-01-01', '2020-01-02', '2020-01-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 200, 150, 250]
}

df = pd.DataFrame(data)

In [26]:
# Ex. 1 :

pT = df.pivot_table(values = "Sales", index = "Date" , columns = "Product", aggfunc = 'sum')

pT

Product       A    B
Date
2020-01-01  100  200
2020-01-02  150  250

In [27]:
# Another example

data = {
    'Date': ['2020-01-01', '2020-01-02', '2020-01-02', '2020-01-03', '2020-02-03', '2020-01-12'],
    'Product': ['C', 'A', 'B', 'B', 'C', 'B'],
    'Region': ['East', 'West', 'East', 'West', 'North', 'North'],
    'Sales': [100, 200, 150, 250, 231, 300]
}
df = pd.DataFrame(data)

pT = pd.pivot_table(df, values = "Sales", index = "Product", columns = "Region")
pT

Region    East  North   West
Product
A          NaN    NaN  200.0
B        150.0  300.0  250.0
C        100.0  231.0    NaN

In [28]:
df.pivot_table(values="Sales", index = ["Date", "Region"], columns = "Product", aggfunc = "sum")

Product                A      B      C
Date       Region
2020-01-01 East      NaN    NaN  100.0
2020-01-02 East      NaN  150.0    NaN
           West    200.0    NaN    NaN
2020-01-03 West      NaN  250.0    NaN
2020-01-12 North     NaN  300.0    NaN
2020-02-03 North     NaN    NaN  231.0